body {
	margin: 0px;
	background-color: #333333;
	font-family: Arial, sans-serif;
	color: #FFFFFF;
	font-size: 12px;
}
h1 {
	color: #FFFFFF;
	margin: 10px 0px 10px 10px;
}
#main{
	margin: 3px 0px 0px 10px;
	width: 900px;
	overflow: hidden;
}
.form_line{
	overflow: hidden;
	margin: 0px 0px 5px 0px;
}
.form_line .label{
	float: left;
	width: 80px;
	font-weight: bold;
	text-align: right;
	padding: 2px 10px 0px 0px;
}
.form_line .value{
	overflow: hidden;
	float: left;
}
.standard_input{
	width: 700px;
}
.form_line textarea {
	width: 700px;
	height: 250px;
}
.form_bottom{
	margin-top: 30px;	
}
