<div class="form_line">
	<div class="label">Title</div>
	<div class="value"><input name="article_title" class="standard_input" /></div>
</div>

<div class="form_line">
	<div class="label">Body</div>
	<div class="value"><textarea name="article_body"></textarea></div>
</div>

<div class="form_line">
	<div class="label">Tags</div>
	<div class="value"><input name="article_tags" class="standard_input" /></div>
</div>

<div class="form_line">
	<div class="label">Author</div>
	<div class="value"><input name="article_author" class="standard_input" /></div>
</div>

<div class="form_line">
	<div class="label">Publish Date</div>
	<div class="value"><input type="text" name="article_publish" /></div>
</div>

<div class="form_line">
	<div class="label">Is Active?</div>
	<div class="value">
		<div id="createactivate">
			<input type="radio" id="activeyes" name="radio" /><label for="activeyes">Active</label>
			<input type="radio" id="activeno" name="radio" /><label for="activeno">Disabled</label>
		</div>
	</div>
</div>
		

<div class="form_line form_bottom">
	<div class="label">&nbsp;</div>
	<div class="value"><button id="createbtn">Create Article</button></div>
</div>